@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Abel');

* {
  box-sizing: border-box;
}

body, html {
  margin: 0 !important;
  padding: 0 !important;
  min-height: 100vh;
  overflow-x:hidden;
  overflow-y:hidden;
}

#root {
  width: 300px !important;
}

#wrapper {
  width: 300px !important;
  z-index: 1000;
}

#navbar {
  width: 280px !important;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #fff;
  height: 40px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 100;
}

.mapboxgl-ctrl-logo, .mapboxgl-ctrl-attrib {
  display: none !important;
}

.controls {
  z-index: 9999;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.mapboxgl-ctrl {
  z-index: 9999999 !important;
}

.menu {outline:0;}

.menu:focus img {
  outline: auto;
}

#menu {
  margin-top: 8px;
  margin-left: 8px;
}

#menu:hover {
  cursor: pointer;
}

#nav-wrapper {
  z-index: 100 !important;
}

#sidebar, #meetupDetails {
  z-index: 10089 !important;
  width: 310px !important;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: #fff;
  overflow-y: scroll;
  transform: translate3d(-310px, 0, 0);
}

.sidebar-shadow {
  box-shadow: 0 12px 36px 16px rgba(0,0,0,0.24);
  transform: translate3d(0px, 0, 0);
}

.close-menu {
  display:inline-block;
  position: absolute;
  right:0;
  padding: 5px;
  transition: 300ms ease-out;
}

.close-menu:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* SEARCH */
#searchContainer {
  position: absolute;
  left: 60px;
  top: 25px;
  z-index: 10080;
  height: 30px;
  min-width: 235px !important;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

.searchInput {
  vertical-align: top;
  margin-top: 5px !important;
  display:inline-block;
  min-width: 192px;
  margin-right: 5px;
  margin-top: 0;
  padding-top: 0;
  padding-left: 1px;
  border:none;
  font-size: 1em;
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.searchInput:focus {
  outline:0;
}

.searchInput::placeholder {
  color: #999;
}

.searchButton {
  height: 28px;
  display: inline-block;
  background-image: url("/search-icon.svg");
  border:none;
  width: 30px;
  padding: 0 !important;
  margin-left: 8px;
  background-color: #fff;
}

/* MODALS */
.ReactModal__Overlay--after-open {
  z-index: 20000 !important;
  background-color: rgba(0, 0, 0, 0.45) !important;
  position:fixed !important;
}
.ReactModal__Content {
  width: 400px;
  padding: 0 !important;
  height: 290px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -webkit-transform: scale(0.5) rotateX(-30deg);
  transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
    transform: scale(1) rotateX(0deg);
    transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}

.infoModalContent, .modalContent {
  text-align: center;
  padding: 0;
  margin: 0;
}

.modalContent p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  color: #121212;
  padding-top: 5px;
}

.map {
  width: 100px;
  height: 100px;
  padding-top: 20px;
}

.infoModalContent p {
  font-family: 'Abel', sans-serif;
  font-size: 1.05em;
  color: #121212;
  padding: 0px 22px 0px 22px;
}
.infoModalContent p a {
  color: #121212;
  border-bottom: 2px solid #FBC02D;
  font-style: italic;
}

.underline:hover {
  border-bottom: 2px solid #121212;
}

.close-modal {
  display:inline-block;
  float: right;
  padding: 5px;
  transition: 300ms ease-out;
}
.close-modal:hover {
  cursor: pointer;
  opacity: 0.5;
}

.infoModalHeading, .modalHeading {
  color: #121212;
  background-color: #FBC02D;
  font-weight: bold;
  width: 100% !important;
  font-size: 1em;
  font-family: 'Abel', sans-serif;
  letter-spacing: 1px;
  padding: 10px 20px 10px 20px;
}

.infoModalHeading {
  font-size: 1.15em;
}

.alignment-wrapper {
  position: absolute;
  bottom: 25px;
  width: 100%;
}

a {
  text-decoration: none !important;
}

.signIn {
  width: 88%;
  color: white;
  height: 40px;
  margin: auto;
  left: -50%;
  background-color: #e15063;
  border:none;
  font-size: 0.9em;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

.signIn:hover {
  background: #bd4958;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  color: white;
  text-decoration: none;
  text-shadow: -1px -1px 0 #a73e4b;
  transition: all 250ms linear;
}

.meetup-logo {
  padding-top: 15px;
  padding-bottom: 30px;
}

/* MEETUPS LIST */
#meetups-header {
  height: 70px;
  font-weight: bold;
  color: #121212;
  background-color: #FBC02D;
  width: 100% !important;
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif !important;
  letter-spacing: 1px;
  display: block;
  padding: 12px 10px 0px 15px;
   margin: 0 auto !important;
}

#meetups-header p {
  margin: 0 auto !important;
}

#tagline {
 font-size: 0.65em;
 padding-top: 6px !important;
 padding-left: 6px;
}
.accent {
  background-color: #FBC02D !important;
  color: #121212 !important;padding: 2px;
 }

#meetups a {
  text-decoration: none;
}
.meetupName {
  list-style: none;
  margin-bottom: 5px;
  font-weight: bold;
}

.meetupNames {
  font-size: 0.85em;
  font-family: 'Roboto', sans-serif;
  color: #121212;
}

.members {
  font-style: italic;
}

.meetupContent {
  width: 310px;
  padding: 15px 20px 15px 20px;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
  transition: all 150ms linear;
}

.groupName {
  padding-bottom: 6px;
  font-size: 0.95em;
  color: #121212;

}
.meetupContent:hover {
  background-color: #f9f9f9;
  cursor: pointer;
  border-left: 5px solid #FBC02D;
}

.meetupContent p {
  padding-bottom: 2px;
  margin: 0;
  font-weight: normal;
  font-size: 0.90em;
  font-family: 'Roboto', sans-serif;
  color: rgba(18,18,18,0.66);
}

/* MEETUP DETAILS */
.meetupInfo {
  padding: 5px 20px 0px 20px !important;
  font-size: 0.90em;
  font-family: 'Roboto', sans-serif;
  color: #121212;
  border-bottom: 1px solid #ddd;
}

.meetupDetailsName {
  padding: 10px 25px 10px 20px !important;
  font-weight: bold;
  margin: 0px !important;
  color: #121212;
  background-color: #FBC02D;
  width: 100% !important;
  font-size: 1em;
  font-family: 'Abel', sans-serif;
  letter-spacing: 1px;
}

.meetupJoin {
  margin: 20px auto 20px auto;
  display: block;
  width: 270px;
  padding: 8px 0px 8px 0px;
  border: 1px solid #353c37;
  background-color: #3f4741;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  transition: all 150ms linear;
  color: #fff;
}

.meetupJoined {
  text-align:center !important;
  font-size: 0.85em;
  margin: 20px auto 20px auto;
  display: block;
  width: 270px;
  padding: 8px 0px 8px 0px;
  border: 1px solid #2d6136;
  background-color: #59aa68;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  transition: all 150ms linear;
  color: #fff;
}
.groupJoin {
  margin: 20px auto 20px auto;
  display: block;
  width: 270px;
  padding: 8px 0px 8px 0px;
  border: 1px solid #575c58;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  transition: all 150ms linear;
  color: #121212;
}
.groupJoined {
  text-align:center !important;
  font-size: 0.85em;
  margin: 20px auto 20px auto;
  display: block;
  width: 270px;
  padding: 8px 0px 8px 0px;
  border: 1px solid #2d6136;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  transition: all 150ms linear;
  color: #2d6136;
}

.groupJoin:hover {
  transition: all 250ms linear;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color:#ccc;
}

.meetupJoin:hover {
  background: #3b433d;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  color: #6a786e;
  text-decoration: none;
  text-shadow: -1px -1px 0 #282d29;
  transition: all 250ms linear;
}

.meetupDetailsContent {
  padding: 0px 20px 10px 20px !important;
}

#meetupDescription {
  overflow-x: hidden;
}

#meetupDescription a {
  border-bottom: 2px solid #FBC02D;
  color: rgba(18,18,18,1);
  font-style: italic;
}
#meetupDescription a:hover {
  border-bottom: 2px solid #121212;
}

.meetupDetailsContent p {
  font-size: 0.90em;
  font-family: 'Roboto', sans-serif;
  color: #121212;
}

/* TOOLTIPS */
[tooltip] {
  position: relative;
}

[tooltip]::before,
[tooltip]::after {
  text-transform: none;
  font-size: .9em;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
  margin-left: 5px;
  margin-top: 0px;
}

[tooltip]::before {
  content: '';
  border: 5px solid transparent;
  z-index: 1001;
}

[tooltip]::after {
  content: attr(tooltip);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000;
}

[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}

[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}

[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}

/* MAP STYLING */
.mapboxgl-canvas {
  z-index: -23 !important;
}

.overlays {
  cursor: default !important;
}

.mapboxgl-canvas:hover {
  cursor: default !important;
}

.mapboxgl-marker {
  z-index: 88 !important;
  width: 25px;
  height: 25px;
}

.mapboxgl-marker:hover {
  cursor: pointer;
}

.mapboxgl-popup {
  width: 320px;
  z-index: 88 !important;
}

.mapboxgl-popup-content {
  background-color: #fff;
  padding: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 0px !important;
}

.mapboxgl-popup-content h3 {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  text-align: center;
  color: #121212;
  background-color: #FBC02D;
  width: 100% !important;
  font-size: 1em;
  font-family: 'Abel', sans-serif;
  letter-spacing: 1px;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: #FBC02D;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: #fff;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #fff;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #fff;
}

#description p {
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 0.80em;
  line-height: 1.4em;
  color: #16161d;
  font-family: 'Roboto', sans-serif;
}

#description p a {
  border-bottom: 2px solid #FBC02D;
  color: rgba(18,18,18,1);
  font-style: italic;
}

.s-alert-warning {
  background-color: #e9547b !important;
}

.s-alert-box-inner {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
}

.s-alert-box-inner a {
  text-decoration: underline !important;
}

.s-alert-show {
  z-index: 9999909 !important;
}

.mapboxgl-popup-close-button {
  margin-top: 5px;
  transition: 300ms ease-out;
}

.mapboxgl-popup-close-button:hover {
  margin-top: 5px;
  background-color: #FBC02D;
  opacity: 0.6;
}

.markerViewDetails {
  margin: 20px auto 20px auto;
  display: block;
  width: 88%;
  padding: 8px 0px 8px 0px;
  border: 1px solid #353c37;
  background-color: #3f4741;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  transition: all 150ms linear;
  color: #fff;
}
.markerViewDetails:hover {
  background: #3b433d;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  color: #6a786e;
  text-decoration: none;
  text-shadow: -1px -1px 0 #282d29;
  transition: all 250ms linear;
}

#info {
  position:absolute;
  background-color: #fff !important;
  border: 0;
  background-image: url("/info.svg");
  right: 20px;
  bottom: 90px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.10);
}

#info:hover {
  background-color: #f2f2f2 !important;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 480px) {
  .ReactModal__Content {
    left: 0 !important;
    right: 0 !important;
    width: 320px;
  }
}

@media only screen and (max-width: 410px) {
  .infoModalContent p {
    font-size: 0.9em;
    padding-top: 5px;
  }
  .searchInput {
    padding-top: 2px;
    font-size: 0.9em;
  }
}
